.footer {
  background-color: $grey;
  background-image: url("../images/footer-bg.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  padding: 5.625rem 0 2vw;
  position: relative;
  z-index: 99;
  border-top: 2px solid $primary;
  &:before {
    content: "";
    background-image: url("../images/bg-icon.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    top: -8px;
    right: 7vw;
    background-size: contain;
    width: 81px;
    height: 21px;
    position: absolute;
    transform: rotate(180deg);
  }
  &:after {
    z-index: 9;
    content: "";
    width: 2px;
    margin-left: -1px;
    background: $white;
    position: absolute;
    left: 50%;
    height: 5.625rem;
    top: 0;
  }
  &__logo {
    width: calc(2rem + 5vw);
    max-width: 6.875rem;
    display: inline-block;
    vertical-align: top;
    &:hover {
      opacity: 0.75;
    }
  }
  &__widget {
    padding-bottom: calc(1rem + 3.25vw);
    p {
      margin-bottom: 0;
    }
  }
  &__form {
    padding-bottom: 2vw;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: calc(1rem + 2vw);
    }
  }
  &__testi {
    position: relative;
    padding: calc(2rem + 3.75vw) 0;
    margin-bottom: 1px;
    border-top: 2px solid $primary;
    &:before {
      content: "";
      background-image: url("../images/bg-icon.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      top: -8px;
      left: 7vw;
      background-size: contain;
      width: 81px;
      height: 21px;
      position: absolute;
      transform: rotate(180deg);
    }
  }
  &__testiside {
    position: absolute;
    width: calc(9vw + 4rem);
    height: 100%;
    right: 0;
    top: 0;
    background: $grey;
    max-width: 12rem;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 40%;
      background: $primary;
      left: 0;
    }
    &:before {
      left: -40%;
      background: $white;
    }
  }
  &__testiimg {
    padding: 2rem 0 0;
    img {
      display: block;
      margin: 0 auto 1.25rem;
      width: 7rem;
      border-radius: 50%;
    }
    h4 {
      margin: 0;
    }
  }
}

.copyright {
  background: $greydark;
  color: $light_75;
  padding: 1.5rem 0;
  p {
    margin: 0;
    font-size: 1rem;
  }
  span {
    margin-left: 1.15rem;
    margin-right: 1.15rem;
  }
  a {
    color: $primary;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      color: $light;
    }
  }
}

@include media-breakpoint-down(md) {
  .footer {
    ul.footer__menu {
      display: flex;
      flex-wrap: wrap;
      li {
        max-width: 100%;
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .copyright {
    padding: 2rem 0;
    p {
      font-size: 1.15rem;
    }
  }
}
