.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .container-fluid {
    max-width: 106.25rem;
  }
  &__row {
    height: 10.25rem;
  }
  &__logo {
    display: inline-block;
    vertical-align: top;
    width: calc(5rem + 12vw);
    max-width: 14.5rem;
  }
  &__toggle {
    display: inline-block;
    vertical-align: top;
    width: calc(2.5rem + 4vw);
    max-width: 5.625rem;
  }
}
