.coverbg {
  position: relative;
  &__img {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      @include image_full;
    }
    + div {
      position: relative;
      z-index: 3;
    }
    &.hasbg {
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $black;
        opacity: 0.65;
      }
    }
  }
}

.banner {
  position: relative;
  z-index: 99;
  border-bottom: 2px solid $primary;
  &:after {
    z-index: 9;
    content: "";
    width: 2px;
    margin-left: -1px;
    background: $white;
    position: absolute;
    left: 50%;
    height: calc(3vw + 3rem);
    bottom: 0;
  }
  &:before {
    z-index: 9;
    content: "";
    width: 2px;
    margin-left: -1px;
    background: $primary;
    position: absolute;
    left: 50%;
    height: calc(3vw + 3rem);
    bottom: calc(-3vw - 3rem);
  }
  .row {
    position: relative;
    &:before {
      content: "";
      background-image: url("../images/bg-icon.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      bottom: -8px;
      left: 0;
      background-size: contain;
      width: 81px;
      height: 21px;
      position: absolute;
    }
    > div {
      padding-top: 3rem;
    }
  }
}

.sideimage {
  position: relative;
  overflow: hidden;
  &__img {
    position: relative;
    padding: 0 0 4rem;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background: $primary;
      left: 0;
    }
    img {
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 3;
      max-width: 65%;
      width: 26rem;
    }
    &.alignright {
      text-align: right;
    }
    &.alignleft {
      text-align: left;
    }
  }
}

.sidegallery {
  overflow: hidden;
  .slick {
    &-list {
      overflow: visible;
    }
    &-dots {
      margin-top: 2rem;
    }
  }
  img {
    width: 100%;
  }
  &__cont {
    padding-top: 3vw;
    text-align: center;
  }
  &.vertical {
    .sidegallery {
      &__cont {
        padding-top: 3vw;
        text-align: center;
        h2 {
          font-size: 3.25rem;
        }
        a:not(.btn) {
          font-size: 1.25rem;
          display: inline-block;
          vertical-align: top;
          svg {
            margin-left: 1rem;
            width: 1.15rem;
            height: 1.15rem;
            fill: $primary;
          }
        }
      }
    }
  }
}

.contactsec {
  &__right {
    position: relative;
  }
  &__form {
    background: $grey;
    position: relative;
    border-radius: 1.5rem;
    form {
      padding: calc(1.25vw + 1.75rem) calc(4.5vw + 3rem) calc(2.75vw + 1.75rem);
      border-radius: 1.5rem;
      position: relative;
      > p > br {
        display: none;
      }
    }
    .form-control {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    textarea {
      &.form-control {
        height: 7.2rem;
      }
    }
    .btton {
      margin-top: 4rem;
    }
  }
}
.contactmap {
  position: relative;
  width: 100%;
  height: calc(32vw + 10rem);
  max-height: 100vh;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.productlist {
  &__row {
    .productlist {
      &__item {
        &:last-child {
          h2 {
            &:before,
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &__cont {
    text-align: center;
    position: relative;
    img {
      margin-bottom: 1rem;
    }
    a {
      display: block;
      font-size: 1.25rem;
      svg {
        width: 1rem;
        height: 1rem;
        fill: $primary;
        margin-left: 0.75rem;
        display: inline-block;
        vertical-align: middle;
      }
      &:hover {
        svg {
          fill: $primary;
        }
      }
    }
  }
  &__item {
    cursor: pointer;
    padding: calc(2vw + 1rem) 0;
    text-align: center;
    h2 {
      font-size: 1.65rem;
      margin: 2rem 0 0;
      color: $white;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 1px;
        background: $white;
        left: 50%;
        height: calc(6vw + 3rem);
        margin: 2rem auto 0;
      }
      &:before {
        content: "";
        display: block;
        width: 1px;
        background: $primary;
        position: absolute;
        left: 50%;
        height: calc(3vw + 1.5rem);
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    &.active {
      h2 {
        color: $primary;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .productlist {
    &__cont {
      text-align: left;
      padding-left: 40%;
      img {
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        position: absolute;
        top: 0;
        height: 11rem;
      }
      > a {
        opacity: 0;
        transition-duration: 1s;
      }
    }
    &__continn {
      @include transition;
      opacity: 0;
      transform: translateX(3rem);
      transition-duration: 1s;
      min-height: 12rem;
      display: flex;
      align-items: center;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      h2 {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }
      &:hover {
        .productlist {
          &__cont {
            img {
              left: 0;
              transform: translateX(0);
            }
            > a {
              opacity: 1;
            }
          }
          &__continn {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.instasec {
  display: flex;
  &__img {
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
  }
  a {
    height: 100%;
    display: block;
    background: $brown;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }
  img {
    display: block;
    width: 100%;
  }
  &__cont {
    padding: 0.75rem 0;
    position: relative;
    &:before {
      background: $primary;
      height: 100%;
      top: 0;
      z-index: 9;
      content: "";
      width: 2px;
      margin-left: -1px;
      position: absolute;
      left: 50%;
    }
    a {
      display: inline-block;
      vertical-align: top;
      padding: 0.25rem 0;
      line-height: 1.3;
    }
  }
}

.faqsec {
  &__cont {
    display: none;
  }
  &__item {
    padding: 0 01.75rem;
    &.active {
      .faqsec {
        &__cont {
          display: block;
        }
        &__inn {
          h3 {
            &:after {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  &__inn {
    border-bottom: 1px solid $gray__light;
    padding: 0;
    position: relative;
    height: 100%;
    h3 {
      margin: 0;
      padding: 1.75rem 3rem 1.75rem 0;
      cursor: pointer;
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 2.5rem;
        height: 2px;
        width: 1.75rem;
        background: $black_25;
      }
      &:after {
        transform: rotate(90deg);
      }
    }
    :last-child {
      margin-bottom: 1.75rem;
    }
  }
}

.reviewsec {
  &__item {
    position: relative;
    padding-left: calc(6rem + 7vw);
    min-height: calc(8rem + 7vw);
    border-bottom: 2px solid $gray__light;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
  img {
    position: absolute;
    left: 0;
    width: calc(4rem + 7vw);
  }
  &__cont {
    h3 {
      font-size: 2rem;
      margin-bottom: 0.75rem;
    }
    h4 {
      font-size: 1.45rem;
      font-weight: 600;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

.gallerysec {
  padding: calc(2vw + 2rem) 0;
  &__item {
    padding: 0.75rem;
    a {
      position: relative;
      overflow: hidden;
      display: block;
      img {
        display: block;
        position: relative;
        z-index: 1;
      }
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background-color: $black_50;
        opacity: 0;
        z-index: 3;
      }
      &:hover {
        img {
          transform: scale(1.15);
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.mediasec {
  &__item {
    a {
      border-bottom: 1px solid $gray__light;
      height: 100%;
      display: block;
      margin: 0 auto;
      max-width: 88%;
      &:hover {
        opacity: 0.75;
      }
    }
    h3 {
      position: relative;
      margin: 0;
      padding: 1.75rem 3rem 1.75rem 0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 2.5rem;
        height: 1.75rem;
        width: 1.75rem;
        background-image: url(../../images/download.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.productlists {
  padding: 1rem 0;
  &__item {
    padding: 2rem 0.75rem;
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.15rem;
    text-transform: capitalize;
  }
  img {
    display: block;
    margin: 0 auto 1.5rem;
    height: 7rem;
    width: auto;
  }
}

.imageblock {
  position: relative;
  > img {
    display: block;
    margin: 0 auto;
  }
}

.productsarea {
  position: relative;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  &:after {
    content: "";
    background-image: url("../images/bg-icon.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: -8px;
    left: 25%;
    background-size: contain;
    width: 81px;
    height: 21px;
    position: absolute;
    z-index: 7;
  }
  &:before {
    content: "";
    background-image: url("../images/bg-icon.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    top: -8px;
    right: 25%;
    background-size: contain;
    width: 81px;
    height: 21px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 7;
  }
}

@include media-breakpoint-up(md) {
  .banner {
    .row {
      > div {
        padding-top: 2rem;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .instasec {
    &__cont {
      a {
        font-size: 1.25rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .sideimage {
    &__img {
      position: absolute;
      max-width: 38%;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      &:before {
        display: none;
      }
      &.alignright {
        right: 0;
      }
      &.alignleft {
        left: 0;
      }
      img {
        width: 100%;
        max-width: none;
      }
    }
  }

  .sidegallery {
    .slick {
      &-dots {
        position: absolute;
        top: 6vw;
        left: 0;
        width: 40%;
        text-align: right;
        padding-right: 3rem;
      }
    }
    &__cont {
      padding-right: 2.5rem;
      text-align: right;
      padding-bottom: calc(6vw + 2rem);
    }
    &.vertical {
      .sidegallery {
        &__cont {
          padding-bottom: 0;
          text-align: unset;
        }
      }
      .slick {
        &-dots {
          width: 100%;
          text-align: center;
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 5;
          margin: 0;
        }
      }
    }
    &.prodslider {
      .sidegallery__slide {
        padding-bottom: 4rem;
      }
      .slick-dots {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-right: 0;
      }
      .prodslider__img {
        position: relative;
        p {
          position: absolute;
          left: -100%;
          bottom: 0;
          text-align: right;
          width: 100%;
          font-family: "minerva-modern", sans-serif;
          font-weight: 400;
          padding-right: 2rem;
        }
      }
    }
  }

  .contactsec {
    &__form {
      form {
        padding: calc(1.25vw + 1.75rem) calc(3vw + 3rem) calc(2.75vw + 1.75rem)
          calc(8vw + 3rem);
      }
    }
  }
}
