img {
  max-width: 100%;
  height: auto;
}

a,
img,
button,
button svg,
a::before,
a::after,
a svg,
a span,
a strong {
  @include transition;
}

a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

h1,
h2 {
  font-family: "minerva-modern", sans-serif;
  font-weight: 400;
  color: $primary;
  margin-bottom: 1.5rem;
}
.ctalist {
  list-style: none;
  padding: 2.625rem 0 0;
  margin: 0;
  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 0.4rem 0.85rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.btn {
  letter-spacing: 0.05rem;
  position: relative;
  padding-right: 4rem;
  &:after {
    content: "";
    position: absolute;
    right: 15%;
    top: 56%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$light}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-light {
    &:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$primary}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    }
  }
}
.form {
  &-control {
    margin-top: 0.75rem;
    font-style: italic;
    border-bottom-width: 1px;
  }
}

@include media-breakpoint-up(md) {
  .btn {
    font-size: 1.25rem;
    padding: 1.5rem 5.275rem 1.5rem 2.375rem;
  }
}

@include media-breakpoint-up(lg) {
  p,
  li {
    font-size: 1.125rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1.75rem 5.875rem 1.75rem 2.75rem;
  }
}

@include media-breakpoint-up(xl) {
  p,
  li {
    font-size: 1.25rem;
  }
}
