img {
  max-width: 100%;
  height: auto;
}

a,
img,
button,
button svg,
a::before,
a::after,
a svg,
a span,
a strong {
  @include transition;
}

a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-family: "minerva-modern", sans-serif;
  font-weight: 400;
  color: $primary;
  margin-bottom: 1.5rem;
}
.ctalist {
  list-style: none;
  padding: 2.625rem 0 0;
  margin: 0;
  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 0.4rem 0.85rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.btn {
  letter-spacing: 0.05rem;
  position: relative;
  padding-right: 4rem;
  &:after {
    content: "";
    position: absolute;
    right: 15%;
    top: 56%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$light}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-light {
    &:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$primary}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    }
  }
  &-close {
    width: 3.25rem;
    height: 2.45rem;
    color: $black;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 16 16' fill='#{svg-color($secondary)}' xmlns='http://www.w3.org/2000/svg'><path d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    border: 0;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.form {
  &-control {
    margin-top: 0.75rem;
    font-style: italic;
    border-bottom-width: 1px;
  }
}
.padd {
  &__mdt {
    padding-top: calc(2rem + 5vw);
  }
  &__mdb {
    padding-bottom: calc(2rem + 5vw);
  }
  &__md {
    padding-top: calc(2rem + 5vw);
    padding-bottom: calc(2rem + 5vw);
  }
  &__lgt {
    padding-top: calc(3rem + 7.5vw);
  }
  &__lgb {
    padding-bottom: calc(3rem + 7.5vw);
  }
  &__lg {
    padding-top: calc(3rem + 7.5vw);
    padding-bottom: calc(3rem + 7.5vw);
  }
}
.btton {
  font-size: calc(0.85rem + 0.75vw);
  display: inline-block;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $primary;
  color: $light;
  border: 2px solid $primary;
  border-radius: 5rem;
  letter-spacing: 0.05rem;
  padding: calc(0.75rem + 0.5vw) calc(3rem + 2vw) calc(0.75rem + 0.5vw)
    calc(1.5rem + 1.5vw);
  position: relative;
  z-index: 5;
  overflow: hidden;
  @include transition;
  &:after {
    content: "";
    position: absolute;
    right: 15%;
    top: 56%;
    transform: translateY(-50%);
    width: 1.35rem;
    height: 1.35rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$light}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include transition;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: "";
    opacity: 0.25;
    background: $brown;
    transform-origin: right center;
    transform: translateX(-110%) scaleY(1.5);
    @include transition;
    border-radius: 5rem;
    transition-duration: 1s;
  }
  &:hover {
    color: $light;
    background-color: $success;
    border-color: $success;
    &:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$light}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
      transform: translate(0.75rem, -50%);
    }
    &:before {
      transform-origin: left center;
      transform: translateX(110%) scaleY(1.5);
    }
  }
  &-light {
    color: $dark;
    background-color: $light;
    border-color: $light;
    &:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$primary}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    }
    &:hover {
      color: $light;
      background-color: $primary;
      border-color: $primary;
      &:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$light}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
      }
    }
  }
  &-white {
    color: $dark;
    background-color: $white;
    border-color: $white;
    &:after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$primary}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
    }
    &:hover {
      color: $white;
      background-color: $primary;
      border-color: $primary;
      &:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$white}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
      }
    }
  }
  &-success {
    background-color: $success;
    border-color: $success;
    &:hover {
      color: $white;
      background-color: $primary;
      border-color: $primary;
      &:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$white}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
      }
    }
  }
  &-black {
    background-color: $brown;
    border-color: $brown;
    &:hover {
      color: $white;
      background-color: $primary;
      border-color: $primary;
      &:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$white}'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/></svg>");
      }
    }
  }
}

body {
  position: relative;
  &:before {
    position: absolute;
    height: calc(100% - 100vh);
    width: 100%;
    left: 0;
    top: 100vh;
    content: "";
    z-index: -1;
    background-image: url(../images/bg-circles.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
}

.wpcf7 {
  .ajax-loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .wpcf7-not-valid-tip {
    color: $primary !important;
    font-size: 1rem !important;
    margin: 0.5rem 0 0 !important;
  }
  form {
    .wpcf7-response-output {
      margin: 1rem 0 0 !important;
      padding: 0.5rem 1.25rem !important;
      border-radius: 0.35rem;
      text-align: center;
      background-color: $white_8;
      box-shadow: 0 0.15rem 1.2rem 0 $black_10;
      letter-spacing: 0.05rem;
    }
  }
}

.screen-reader-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@include media-breakpoint-up(md) {
  .btn {
    font-size: 1.25rem;
    padding: 1.5rem 5.275rem 1.5rem 2.375rem;
  }
}

@include media-breakpoint-up(lg) {
  p,
  li {
    font-size: 1.125rem;
  }
}

@include media-breakpoint-up(xl) {
  p,
  li {
    font-size: 1.25rem;
  }

  .btn {
    padding: 1.25rem 4.35rem 1.25rem 2.5rem;
    font-size: 1.35rem;
  }
  .btton {
    padding: 1.25rem 4.35rem 1.25rem 2.5rem;
    font-size: 1.35rem;
  }
}
